@using System.Globalization
@using CRUD_asp.netMVC.ViewModels.Home
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(@Url.Content($"~/images/banner/contact-4ops_2.jpg"));">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Liên hệ với chúng tôi </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate-box">
                <h3 style="text-align: center; font-size: 3rem; font-weight: 600;">Liên hệ</h3>
                <form id="contactForm" asp-action="Contact" method="post" autocomplete="off">
                    <div class="row form-group">
                        <div class="col-md-6">
                            <input type="text" id="fname" class="form-control" asp-for="MailContact.FirstName" placeholder="Tên của bạn">
                            <span asp-validation-for="MailContact.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="lname" class="form-control" asp-for="MailContact.LastName" placeholder="Họ của bạn">
                            <span asp-validation-for="MailContact.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="email" id="email" class="form-control" asp-for="MailContact.Email" placeholder="Địa chỉ email tài khoản của bạn">
                            <span asp-validation-for="MailContact.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" id="subject" class="form-control" asp-for="MailContact.Subject" placeholder="Tiêu đề tin nhắn">
                            <span asp-validation-for="MailContact.Subject" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <textarea id="message" cols="30" rows="6" class="form-control" asp-for="MailContact.Message" placeholder="Nội dung tin nhắn"></textarea>
                            <span asp-validation-for="MailContact.Message" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <button type="button" class="sendMess btn btn-primary mt-4">Gửi</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-push-1 animate-box">
                <div class="fh5co-contact-info">
                    <h3 style=" font-size: 3rem; font-weight: 600;">Thông tin liên hệ</h3>
                    <ul>
                        <li class="phone"><a href="tel://1234567920">+98 358986823</a></li>
                        <li class="email"><a href="mailto:nguyenthanhtuankrp1@gmail.com">nguyenthanhtuankrp1@gmail.com</a></li>
                        <li class="address">219/4 Đ.Lê Văn Chí, P.Linh Trung, TP.Thủ Đức, <br />TP.Hồ Chí Minh</li>
                        @* <li class="url"><a href="http://gettemplates.">gettemplates</a></li> *@
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

@* <div id="map" class="animate-box" data-animate-effect="fadeIn"></div> *@
