@using CRUD_asp.netMVC.ViewModels.Home
@using System.Globalization
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
    Html.AntiForgeryToken();
}

<div class="profile-wrapper">
    <div class="profile-container" id="profileContainer">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="#">Thông Báo</a></li>
                    <li><a asp-controller="Home" asp-action="MyProfile">Hồ Sơ</a></li>
                    <li><a asp-controller="Home" asp-action="SurplusManager">Số dư</a></li>
                    <li><a href="#">Đổi Mật Khẩu</a></li>
                    <li><a href="#">Thông Tin Cá Nhân</a></li>
                    <li><a href="#">Kho Voucher</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Nội dung chính -->
        <main class="profile-content" id="profileContent">

        </main>
    </div>
</div>