@using CRUD_asp.netMVC.ViewModels.Home
@using System.Globalization
@model HomeViewModel
@{
    ViewData["Title"] = "OrderTracking Page";
    Layout = "_HomeLayout";
}

<div class="tracking-theme">
    <div class="tracking-container">
        <div class="tracking-card">
            <div class="order-info">
                <div class="tracking-header">
                    <h3>Trạng thái đơn hàng</h3>
                    <button>Chi tiết</button>
                </div>
                <h2>Đơn hàng #12345</h2>
                <p>Ngày đặt: 15 Mar 2025 | Dự kiến: 21 Mar 2025</p>
            </div>  

            <div class="tracking-timeline" id="tracking-timeline">
                <div class="tracking-step">
                    <div class="circle done"><i class="fa fa-cart-shopping"></i></div>
                    <span>15 Mar<br />Đặt hàng</span>
                </div>
                <div class="tracking-step">
                    <div class="circle done"><i class="fa fa-check"></i></div>
                    <span>15 Mar<br />Xác nhận</span>
                </div>
                <div class="tracking-step">
                    <div class="circle active"><i class="fa fa-truck"></i></div>
                    <span>15 Mar<br />Gửi hàng</span>
                </div>
                <div class="tracking-step">
                    <div class="circle"><i class="fa fa-motorcycle"></i></div>
                    <span>16 Mar<br />Đang giao hàng</span>
                </div>
                <div class="tracking-step">
                    <div class="circle"><i class="fa fa-box"></i></div>
                    <span>21 Mar<br />Đã giao</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="order-detail-theme">
    <div id="orderContainer">
        @*lazy load san pham da thanh toan*@
        @await Html.PartialAsync("_OrderPayPartial", Model.PaymentList, new ViewDataDictionary(ViewData)
        {
            { "OrderPayList", Model.OrderPayList }
        })
    </div>

    <div id="loading">
        <div class="spinner"></div>
        <div>Đang tải...</div>
    </div>
</div>

<script src="~/js/jquery-3.7.1.min.js" asp-append-version="true"></script>
<script src="~/js/order_tracking.js" asp-append-version="true"></script>
@section Scripts {
    <script>
        $(function () {
            // Gọi hàm khởi tạo lazy load với offset ban đầu = số đơn đã load
            initLazyLoad(@Model.PaymentList.Count);
        });

    </script>
}
