<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD_asp.netMVC</title>
    <link rel="stylesheet" href="~/css/cssButton.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleMe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD_asp.netMVC.styles.css" asp-append-version="true" />
</head>

<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        background: url('../images/scenery1.jpg') no-repeat center center/cover;
    }
</style>

<body>
    <header>
    </header>

    <main role="main" class="ms-5">
        @RenderBody()
    </main>


    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - CRUD_asp.netMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/owl.js"></script>

    @* <script src="~/assets/jquery-3.6.0.min.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
