@using CRUD_asp.netMVC.ViewModels.Cart
@using System.Globalization
@model CartViewModel
@{
}

<div class="qr-wrapper">
    @if (Model.QrPayment != null && !string.IsNullOrEmpty(Model.QrPayment.QrCodeUrl))
    {
        <input type="hidden" value="@Html.Raw(Model.QrPayment.QrCodeUrl)" class="qrCodeString" />
        <img src="@Html.Raw(Model.QrPayment.QrCodeUrl)" alt="Mã QR code" class="qr-code" />
    }
    else
    {
        <img src="" alt="Lỗi mã QR " class="qr-code" />
    }
</div>
<div class="account-info">
    <p class="account-name">Nguyễn Thành Tuấn </p>
    <p class="account-id"><strong>Ngân hàng:</strong> MB Bank</p>
    <p class="account-id"><strong>Tài khoản:</strong> 0001335756540 </p>
    <p class="account-date"><strong>Ngày tạo:</strong> @(DateTime.Now.ToString("dd/MM/yyyy HH:mm"))</p>
</div>

<button class="btn-close" aria-label="Đóng modal">Đóng</button>
