@using CRUD_asp.netMVC.ViewModels.Cart;
@using System.Globalization
@model CartViewModel
@{
    var valBuy = Model.ValidBuyNow;
    ViewData["Title"] = "Giỏ hàng";
    Layout = "";
}

<title>Giỏ hàng - LiFashion </title>
<link rel="stylesheet" href="~/css/tom-select.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/load_address.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/styleCart.css" asp-append-version="true" />
<link rel="shortcut icon" href="~/images/icon/logoWeb.png" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

@Html.AntiForgeryToken()

<div id="cart-container">
    @await Html.PartialAsync("_CartContentPartial", Model)

    @* @await Html.PartialAsync("_ModalPaymentPartial", Model) *@
</div>

<script src="~/js/jquery-3.7.1.js" asp-append-version="true"></script>
<script src="~/js/tom-select.complete.min.js" asp-append-version="true"></script>
<script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
<script src="~/js/signalr.min.js" asp-append-version="true"></script>
<script type="module" src="~/js/js.js" asp-append-version="true"></script>
