@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <form asp-controller="Auth" asp-action="Logout" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="nav-link btn btn-link">Đăng xuất</button>
        </form>
    </li>
}